.header {
    /*margin: 0 2.5rem;*/
    padding: .5rem 5rem;
    align-items: center;
    display: flex;
    /*justify-content:space-between;*/
    justify-content: space-around;
    background: #000;
}

.headerLeft, .headerRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

